html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

/*
  Disable default link styling.
  Markdown renders its links as Mantine anchors.
*/
a {
  color: inherit;
  text-decoration: none;
}
