services:
  db:
    image: postgres:17
    container_name: portal_db
    command: postgres # -c 'log_statement=all'
    env_file:
      - .env
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d:ro
      - portal_db:/var/lib/postgresql/data
    networks:
      - portal_private
    ports: # remove in prod
      - 5432:5432 # remove in prod
    restart: unless-stopped

  db_maintenance:
    image: node:22
    container_name: portal_db_maintenance
    command: sleep 10m
    env_file:
      - .env
    networks:
      - portal_private
    volumes:
      - ./Makefile:/data/Makefile
      - ./db:/data/db

  db_backup:
    image: prodrigestivill/postgres-backup-local
    container_name: portal_db_backup
    env_file:
      - .env
    environment:
      POSTGRES_EXTRA_OPTS: -Z1 --schema=public --blobs
      SCHEDULE: "*/15 * * * *"
      BACKUP_ON_START: TRUE
      BACKUP_KEEP_DAYS: 7
      BACKUP_KEEP_WEEKS: 4
      BACKUP_KEEP_MONTHS: 6
    networks:
      - portal_private
    volumes:
      - portal_db_backup:/backups
    depends_on:
      - db
    restart: unless-stopped

  backend:
    container_name: portal_backend
    build:
      context: backend
      dockerfile: Dockerfile
    env_file:
      - .env
    networks:
      - portal_public
      - portal_private
    expose:
      - 8080
    labels:
      traefik.enable: true
      traefik.docker.network: portal_public

      traefik.http.routers.portal_backend.rule: PathPrefix(`/api`)
      traefik.http.services.portal_backend.loadbalancer.server.port: 8080
    depends_on:
      - db
    restart: unless-stopped

  frontend:
    container_name: portal_frontend
    build:
      context: frontend
      dockerfile: Dockerfile
    networks:
      - portal_public
    expose:
      - 3000
    labels:
      traefik.enable: true
      traefik.docker.network: portal_public

      traefik.http.routers.portal_frontend.rule: PathPrefix(`/`)
      traefik.http.services.portal_frontend.loadbalancer.server.port: 3000
    depends_on:
      - backend
    restart: unless-stopped

  traefik:
    container_name: portal_traefik
    image: traefik
    command:
      - --api.insecure=true
      - --providers.docker=true
      - --entrypoints.web.address=:80
    networks:
      - portal_public
    ports:
      - 80:80
      - 8080:8080 # remove in prod
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped

volumes:
  portal_db:
    external: true
  portal_db_backup:
    external: true

networks:
  portal_public:
    external: true
  portal_private:
    external: true
